[defaults]
inventory = ./inventory.ini
remote_user = rochacbruno
host_key_checking = False
log_path = ./ansible.log
verbosity = 1
timeout = 30
forks = 10
force_color = true
callback_result_format = yaml

[privilege_escalation]
become_method = sudo
